# Virtual Environment (ห้ามเอา venv ขึ้น Git เด็ดขาด)
venv/

# Python cache files
__pycache__/
*.pyc

# Django database (ที่เราจะสร้างในอนาคต)
db.sqlite3

# Environment variables (ไฟล์เก็บ Keys/Secrets ในอนาคต)
.env